*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
img{
  width:70%;
  padding: 0;
  margin: auto;
}
.container{
  width:95%;
}
.title{
  font-weight:600;
  font-size:2em;
}
.photographer, .date{
  font-size:1.2em;
  display: inline;
  color:#555;
}
.jokes{
  padding:1em;
  font-size:1em;
  
}
.phd{
  display:flex;
  justify-content: space-evenly;
  padding-left:40px;
  padding-right:40px;
}